:root {
  font-size: 16px;
}

body {
  background-color: white;
  font-family: Arial, serif;
  font-size: 1.25rem;
}

.navbar {
  background-color: #262626;
  font-family: Palatino, Arial, serif;
  font-size: 2.5rem;
  display: block;
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.5), 0 1rem 1rem 0 rgba(0, 0, 0, 0.20);
}

.navbar h1 {
  color: white;
  text-align: center;
  padding-top: 0.5rem;
}

.navbar #nav-dropdown {
  color: white;
  position: fixed;
  cursor: pointer;
  opacity: 0.5;
}

.navbar #nav-dropdown:hover {
  color: white;
  opacity: 1;
}

.sidenav {
  margin-top: 5rem;
  text-align: center;
  width: 10rem;
  height: 0rem;
  z-index: 1;
  position: fixed;
  overflow-y: hidden;
  background-color: #262626;
  opacity: 0.9;
  transition: 0.5s;
}

.sidenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidenav a {
  line-height: 1.5rem;
  padding: 1.5rem 0rem 0.5rem 0rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #cccccc;
  opacity: 1;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
}

.intro {
  background-color: white;
  /*#39ACD6;*/
  padding: 25vh 2rem 5rem 2rem;
  height: 100vh;
  min-height: 37rem;
  display: block;
  text-align: center;
}

.intro-img {
  position: relative;
  margin: auto;
  margin-bottom: 1.5rem;
  max-width: 40rem;
}

.hotair {
  position: absolute;
  transition: 1s;
}

#hotair-1 {
  width: 18%;
  top: 7rem;
  left: 2%;
}

#hotair-2 {
  width: 10%;
  top: 1rem;
  left: 85%;
}

#me {
  border-radius: 100%;
  width: 50%;
  margin: auto;
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.5), 0 1rem 1rem 0 rgba(0, 0, 0, 0.20);
}

.icon {
  position: absolute;
  border-radius: 100%;
  width: 10%;
  opacity: 0.7;
  transition: 0.3s;
}

.icon:hover {
  opacity: 1;
}

.intro #mail {
  top: 15%;
  right: 17%;
  padding: 0.5% 0.5%;
}

.intro #github {
  top: 40%;
  right: 14%;
  padding: 0.5% 0.5%;
}

.intro #linkedin {
  top: 65%;
  right: 17%;
}

.contact-info #mail {
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.contact-info #github {
  margin: 0 15%;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.contact-info .icon {
  position: inherit;
  width: 4rem;
  background-color: white;
}

.experience {
  position: relative;
  background-color: #61C9A8;
  /*#4EBF66;*/
  text-align: center;
  padding: 0 2rem 2rem 2rem;
}

.link-anchor {
  display: block;
  position: absolute;
  top: -5rem;
  visibility: hidden;
}

.experience h1 {
  padding: 2rem 0 0.5rem 0;
}

.container hr {
  width: 75%;
}

.projects {
  position: relative;
  background-color: tomato;
  text-align: center;
  padding: 0 2rem 2rem 2rem;
}

.projects-anchor {
  display: block;
  position: absolute;
  top: -5rem;
  visibility: hidden;
}

.projects h1 {
  padding: 2rem 0 0.5rem 0;
}

.projects h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.projects p {
  text-align: left;
  margin: 1rem 2rem 1rem 2rem;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: black;
  border-radius: 50%;
  border: 1px solid black;
}

.carousel-indicators {
  margin: auto;
  padding: 0.5rem;
  width: 150px;
  background-color: black;
  opacity: 0.5;
}

.carousel-indicators:hover {
  cursor: pointer;
  opacity: 1;
}

.project-img {
  margin: auto;
  width: 80%;
  max-width: 50rem;
  border: 0.075rem solid black;
  margin-bottom: 3rem;

}

.project-link {
  position: absolute;
  bottom: 8rem;
}

.description {
  padding-bottom: 5rem;
}

.project-icon {
  width: 30%;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

hr {
  padding-bottom: 2rem;
}

.container {
  background-color: white;
  width: auto;
  height: 90%;
  border: 0.1rem solid black;
  padding-bottom: 8rem;
  box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.3), 0 1.5rem 3rem 0 rgba(0, 0, 0, 0.20);
}

#date {
  margin-top: 1rem;
}

.logo {
  background-color: tomato;
  margin: auto;
  margin-top: 3rem;
  text-align: center;
  display: block;
}

#cibc {
  width: 8rem;
  border-radius: 20%;
}

#honda {
  width: 8rem;
  background-color: white;
  height: auto;
}

img {
  max-height: 100%;
  width: auto;
}

.row {
  margin: auto;
  max-width: 75rem;
}

.box {
  padding: 0 2.5rem 0 2.5rem;
}

.container h1 {
  margin-bottom: 8rem;
  height: 2rem;
}

.job-info {
  text-align: left;
  margin: 1rem 2rem 1rem 2rem;
}

.skill-container {
  margin-top: 4rem;
}

.skill {
  color: white;
  border: 0.2rem solid black;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  margin: 0.25rem 0.25rem;
}

.tool {
  background-color: #4281A4;
}

.activity {
  background-color: #8166CC;
}

.contact-info {
  padding: 1rem 0 1rem 0;
  text-align: center;
  background-color: #373E40;
}

footer {
  padding: 1rem 5rem 0.5rem 4rem;
  background-color: #262626;
  color: white;
  text-align: center;
}

@media only screen and (max-height: 500px) {
  .intro {
    padding: 7rem 2rem 5rem 2rem;
  }
}

@media only screen and (max-width: 480px) {
  :root {
    font-size: 10px;
  }
  .container h1 {
    font-size: 2rem;
  }
  .job-info {
    margin: 1rem 1rem 1rem 1rem;
  }
  .hotair {
    display: none;
  }
}

/*
@media only screen and (min-width: 1100px) {
  #hotair-1 {
    position: absolute;
    width: 18%;
    top: 6rem;
    left: -30%;
  }

  #hotair-2{
    position: absolute;
    width: 10%;
    top: 2rem;
    left: 120%;
  }
  */

}
