.contact-info {
  margin-top: 1vh;
}

.contact {
  text-align: center;
  margin-left: var(--sidebar-width);
  background-color: var(--contact-color);
  background: linear-gradient(90deg, rgba(197,47,51,1) 0%, rgba(255,89,94,1) 50%, rgba(197,47,51,1) 100%); 
  padding: 2rem;
  height: 100vh;
}

.contact .contact-info {
  padding-top: 20vh;
}

.contact a {
  color: black;
  opacity: 1;
}

.contact a:hover {
  color: white;
  opacity: 1;
}
