.intro-experience-logo {
  width: 100%;
  height: auto;
}

.experience {
  position: relative;
  margin-left: var(--sidebar-width);
  background-color: var(--experience-color);
  text-align: center;
}

.experience h1 {
  padding: 2rem 0 0.5rem 0;
}

#scotia {
  width: 10rem;
  height: auto;
}

#cibc {
  width: 7rem;
  border-radius: 20%;
}

#honda {
  width: 15rem;
  height: auto;
}

#ryerson {
  width: 18rem;
  height: auto;
}

#date {
  margin-top: 1rem;
}

.purple {
  background-color: #8166CC;
}
