.intro {
  background-color: var(--home-color);
  background: linear-gradient(90deg, rgba(48,76,147,1) 0%, rgba(24,143,167,1) 52%, rgba(48,76,147,1) 100%);
  padding: 13vh 2rem 5rem 2rem;
  margin-left: var(--sidebar-width);
  height: 100vh;
  min-height: 37rem;
  display: block;
  text-align: center;
}

.intro h3 {
  padding-top: 3vh;
  padding-bottom: 2vh;
}

#intro-experience {
  border-top: 3vh solid var(--experience-color);
}

#intro-experience:hover {
  background: var(--experience-color);
  background: linear-gradient(90deg, rgba(18,102,43,1) 0%, rgba(50,159,91,1) 52%, rgba(18,102,43,1) 100%);
  border: none;
}

#intro-projects {
  border-top: 3vh solid var(--project-color);
}

#intro-projects:hover {
  background: var(--project-color);
  background: linear-gradient(90deg, rgba(61,20,118,1) 0%, rgba(106,76,147,1) 50%, rgba(61,20,118,1) 100%);
  border: none;
}

#intro-contact {
  margin-bottom: 5vh;
  border-top: 3vh solid var(--contact-color);
}

#intro-contact:hover {
  background: var(--contact-color);
  background: linear-gradient(90deg, rgba(197,47,51,1) 0%, rgba(255,89,94,1) 50%, rgba(197,47,51,1) 100%);
  border: none;
}

#me-home {
  display: none;
}

.intro-nav {
  background-color: white;
  margin-top: 7vh;
  height: 50vh;
  border: 1px solid black;
  transition: 0.3s;
}

.intro-nav a {
  color: black;
  opacity: 0.75;
}

.intro-nav a:hover {
  color: white;
  opacity: 1;
}

.intro-nav:hover {
  cursor: pointer;
  border: none;
}

.intro-logo, .intro-experience-logo {
  display: block;
  margin: auto;
  margin-bottom: 2vh;
  height: 20%;
  max-width: 80%;
}

#cibc-intro {
  border-radius: 20%;
}

@media only screen and (max-width: 600px) {
  .intro-experience-logo {
    width: 7rem;
    margin: auto;
    padding-bottom: 1rem;
    height: auto;
  }

  #cibc-intro {
    width: 4rem;
    padding: 0;
  }
}
