.intro-projects-logo{
  width: 75%;
  height: auto;
  max-height: 100%;
}

.icon-container{
  vertical-align: top;
  display: inline-block;
  width: 39%;
}

.carousel-container{
  display: inline-block;
  width: 60%;
}

.demo {
  display: block;
  width: 50%;
  margin: 50px auto;
}

.description{
  width: 90%;
  margin: auto;
}

.projects {
  position: relative;
  margin-left: var(--sidebar-width);
  background-color: var(--project-color);
  background: linear-gradient(90deg, rgba(61,20,118,1) 0%, rgba(106,76,147,1) 50%, rgba(61,20,118,1) 100%); 
  text-align: center;
  padding: 0 2rem 2rem 2rem;
}

.projects h1 {
  padding: 2rem 0 0.5rem 0;
  color: black;
}

.projects h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.project-img {
  margin: auto;
  width: 80%;
  max-width: 50rem;
  border: 0.075rem solid black;
  margin-bottom: 3rem;
}

.project-icon {
  width: 40%;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

#quick-split-api-icon {
  width: 90%;
}