:root {
  font-size: 16px;
  --sidebar-width: 15rem;
  --experience-color: #61C9A8;
  --project-color: tomato;
  --contact-color: #39ACD6;
}

body {
  background-color: white;
  font-family: Arial, serif;
  font-size: 1.25rem;
  font-weight: normal;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: var(--sidebar-width);
  max-width: 280px;
  background: black;
  color: white;
  text-align: center;
  z-index: 2;
}

.fas, .fab {
  font-size: 3rem;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar h1 {
  margin-top: 1.5vh;
  font-size: 2.5rem;
}

.sidebar p {
  font-size: 1.2rem;
}

.sidebar li a {
  text-decoration: none;
  font-size: 1.25rem;
  color: silver;
  opacity: 1;
  display: block;
  transition: 0.3s;
}

.sidebar li a:hover {
  color: black;
}

li.active a {
  color: black;
}

.sidebar-intro {
  margin-top: 3vh;
}

#me {
  border-radius: 100%;
  width: 85%;
  max-width: 200px;
  margin: auto;
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.5), 0 1rem 1rem 0 rgba(0, 0, 0, 0.20);
}

.contact-info {
  margin-top: 1vh;
}

.icon {
  display: inline-block;
  color: silver;
  padding: 0 5%;
  opacity: 0.7;
  transition: 0.3s;
}

.icon:hover {
  color: white;
  cursor: pointer;
  opacity: 1;
}

.navigation {
  margin-top: 7vh;
}

.navigation li {
  padding: 0.25rem;
  margin: auto;
  margin-top: -1px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0.3s;
}

#nav-home {
  border-left: 0.75rem solid white;
}

#nav-home:hover, #nav-home.active {
  background: white;
}

#nav-experience {
  border-left: 0.75rem solid var(--experience-color);
}

#nav-experience:hover, #nav-experience.active {
  background: var(--experience-color);
}

#nav-projects {
  border-left: 0.75rem solid var(--project-color);
}

#nav-projects:hover, #nav-projects.active {
  background: var(--project-color);
}

#nav-contact {
  border-left: 0.75rem solid var(--contact-color);
}

#nav-contact:hover, #nav-contact.active {
  background: var(--contact-color);
}

.icon {
  padding: 0 5%;
  opacity: 0.7;
  transition: 0.3s;
}

.icon:hover {
  cursor: pointer;
  opacity: 1;
}

.copyright {
  margin-top: 1vh;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.intro {
  background-color: white;
  /*#39ACD6;*/
  padding: 13vh 2rem 5rem 2rem;
  margin-left: var(--sidebar-width);
  height: 100vh;
  min-height: 37rem;
  display: block;
  text-align: center;
}

.intro h3 {
  padding-top: 3vh;
  padding-bottom: 2vh;
}

#intro-experience h3{
  border-top: 3vh solid var(--experience-color);
}

#intro-experience:hover {
  background: var(--experience-color);
}

#intro-projects h3{
  border-top: 3vh solid var(--project-color);
}

#intro-projects:hover{
  background: var(--project-color);
}

#intro-contact h3{
  margin-bottom: 5vh;
  border-top: 3vh solid var(--contact-color);
}

#intro-contact:hover {
  background: var(--contact-color);
}

.intro-nav a{
  color: black;
  opacity: 0.75;
}
.intro-nav a:hover{
  color: white;
  opacity: 1;
}

.intro-nav {
  margin-top: 7vh;
  height: 50vh;
  min-height: 20rem;
  border: 1px solid black;
  transition: 0.3s;
}

.intro-nav:hover {
  cursor: pointer;
  border: none;
}

.intro-logo {
  display: block;
  margin: auto;
  margin-bottom: 5vh;
  height: 30%;
  max-width: 80%;
}

#honda-intro {
  height: 20%;
}

#cibc-intro {
  border-radius: 20%;
}

.experience {
  position: relative;
  margin-left: var(--sidebar-width);
  background-color: var(--experience-color);
  /*#4EBF66;*/
  text-align: center;
  padding: 0 2rem 2rem 2rem;
}

.experience h1 {
  padding: 2rem 0 0.5rem 0;
}

.container hr {
  width: 75%;
}

.projects {
  position: relative;
  margin-left: var(--sidebar-width);
  background-color: var(--project-color);
  text-align: center;
  padding: 0 2rem 2rem 2rem;
}

.projects h1 {
  padding: 2rem 0 0.5rem 0;
}

.projects h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.projects p {
  text-align: left;
  margin: 1rem 2rem 1rem 2rem;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: black;
  border-radius: 50%;
  border: 1px solid black;
}

.carousel-indicators {
  margin: auto;
  padding: 0.5rem;
  width: 150px;
  background-color: black;
  opacity: 0.5;
}

.carousel-indicators:hover {
  cursor: pointer;
  opacity: 1;
}

.project-img {
  margin: auto;
  width: 80%;
  max-width: 50rem;
  border: 0.075rem solid black;
  margin-bottom: 3rem;
}

.project-link {
  position: absolute;
  bottom: 8rem;
}

.description {
  padding-bottom: 5rem;
}

.project-icon {
  width: 30%;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.contact {
  text-align: center;
  margin-left: var(--sidebar-width);
  background-color: var(--contact-color);
  padding: 2rem;
  height: 100vh;
}

.contact .contact-info {
  padding-top: 20vh;
}

.contact a {
  color: black;
  opacity: 1;
}

.contact a:hover {
  color: white;
  opacity: 1;
}

hr {
  padding-bottom: 2rem;
}

.container {
  background-color: white;
  width: auto;
  min-width: 377px;
  height: 90%;
  border: 0.1rem solid black;
  padding-bottom: 8rem;
  box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.3), 0 1.5rem 3rem 0 rgba(0, 0, 0, 0.20);
}

#date {
  margin-top: 1rem;
}

.logo {
  background-color: tomato;
  margin: auto;
  margin-top: 3rem;
  text-align: center;
  display: block;
}

#cibc {
  width: 8rem;
  border-radius: 20%;
}

#honda {
  width: 15rem;
  background-color: white;
  height: auto;
}

img {
  max-height: 100%;
  width: auto;
}

.row {
  margin: auto;
  max-width: 75rem;
}

.box {
  padding: 0 2.5rem 0 2.5rem;
}

.container h1 {
  margin-bottom: 8rem;
  height: 2rem;
}

.job-info {
  text-align: left;
  margin: 1rem 2rem 1rem 2rem;
}

.skill-container {
  margin-top: 4rem;
}

.skill {
  color: white;
  border: 0.2rem solid black;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  margin: 0.25rem 0.25rem;
}

.tool {
  background-color: #4281A4;
}

.activity {
  background-color: #8166CC;
}

@media only screen and (max-height: 500px) {
  .intro {
    padding: 7rem 2rem 5rem 2rem;
  }
}

@media only screen and (max-width: 850px), only screen and (max-height: 700px) {
  .sidebar {
    visibility: hidden;
  }
  .intro, .experience, .projects, .contact {
    margin-left: 0;
  }
  .container {
    min-width: 0;
  }
}

@media only screen and (max-width: 480px) {
  :root {
    font-size: 10px;
  }
  .container h1 {
    font-size: 2rem;
  }
  .job-info {
    margin: 1rem 1rem 1rem 1rem;
  }
  .hotair {
    display: none;
  }
}

}
